<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <ul>
            {% for msg in get_flashed_messages() %}
            <li>{{ msg }}</li>
            {% endfor %}
        </ul>
        {% if not user %}
        <p>You're logged out. Please <a href="{{ url_for('login', src='gg') }}">login via Google</a> or <a href="{{ url_for('login', src='fb') }}">login via Facebook</a>.
        {% else %}
        <p>Hello, {{ user.username or user.email }}! <a href="{{ url_for('logout') }}">Logout</a>.</p>
        <p>Your token is <pre>{{ token }}</pre></p>
        {% endif %}
    </body>
</html>

