<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <ul>
            {% for msg in get_flashed_messages() %}
            <li>{{ msg }}</li>
            {% endfor %}
        </ul>
        {% set exist_src_name = 'Google' if user.src == 'gg' else 'Facebook' %}
        {% set src_name = 'Google' if src == 'gg' else 'Facebook' %}
        <p>You've just logged in via {{ src_name }}.
            However, there exists a GotIt account with the same email address logged in via {{ exist_src_name }}.
            If you're the owner of that account and want to merge the two login methods, please <a href="{{ url_for('login', src=user.src, next=next) }}">login via {{ exist_src_name }}</a>.</p>
    </body>
</html>

