<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <p>Hello, {{ user.username or user.email }}! <a href="{{ url_for('logout') }}">Logout</a>.</p>

        <ul>
            {% for msg in get_flashed_messages() %}
            <li>{{ msg }}</li>
            {% endfor %}
        </ul>

        <form action="{{ url_for('do_onboard') }}" method="post">
        <fieldset>
        <legend>Onboarding form</legend>

        <div class="form-group">
          <label class="col-md-4 control-label" for="username">Username</label>
          <div class="col-md-4">
          <input id="username" name="username" placeholder="Nguyen Van A" class="form-control input-md" required="" type="text">
          </div>
        </div>

        {% if user.is_fb_user() %}
        <div class="form-group">
          <label class="col-md-4 control-label" for="phone">Phone Number</label>
          <div class="col-md-4">
          <input id="phone" name="phone" placeholder="0912345678" class="form-control input-md" required="" type="text">
          </div>
        </div>
        {% endif %}

        {% if user.is_gg_user() %}
        <div class="form-group">
            <label class="col-md-4 control-label" for="occupation">Occupation</label>
            <div class="col-md-4">
                <select id="occupation" name="occupation" class="form-control">
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="other_occupation">Other occupation</label>
            <div class="col-md-4">
                <input id="other_occupation" name="other_occupation" placeholder="Software Engineer" class="form-control input-md" type="text">
            </div>
        </div>
        {% endif %}

        <div class="form-group">
          <label class="col-md-4 control-label" for="submit"></label>
          <div class="col-md-4">
            <button id="submit" name="submit" type="submit">Submit</button>
          </div>
        </div>
        </fieldset>
        </form>
    </body>
</html>

